body {
    font-family: 'Lucida Console', monospace;
    color: #111;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f4f4f4;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.publication-info {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 20px;
}

#header-placeholder::before {
    content: 'Loading...';
    display: block;
    padding: 10px;
    text-align: center;
}